.Header {
  position: absolute;
  align-items: center;
  display: flex;
  top: 0;
  bottom: 0;
  height: 150px;
  z-index: 99;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}

.Header .Header-top {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #c21718;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.Header .Header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 0 0.5rem;
}

@media screen and (max-width: 768px) {
  .Header .Header-container {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}

.Header .Logo-wrapper {
  width: 130px;
}

.Header .Logo-wrapper .Logo-img {
  width: 100%;
}

.Header .Header-navbar {
  display: flex;
}

.Header .Header-navbar .Header-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  /* height: 90px; */
}

@media screen and (max-width: 768px) {
  .Header .Header-navbar .Header-list {
    width: 100%;
    justify-content: space-around;
  }
}

.Header .Header-navbar .Header-list .Header-item {
  display: flex;
  padding: 0 0.7rem;
  align-items: center;
}

.Header .Header-navbar .Header-list .Header-item .dropdown-menu {
  top: -25px !important;
  background-color: #c21718;
  border-radius: 0;
}

.Header .Header-navbar .Header-list .Header-item .dropdown-menu .dropdown-item {
  color: white;
  font-weight: 600;
}

.Header .Header-navbar .Header-list .Header-item .dropdown-menu .dropdown-item:hover {
  background: none;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .Header .Header-navbar .Header-list .Header-item {
    padding: 0 0.35rem;
  }
}

.Header .Header-navbar .Header-list .Header-item .Header-link {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 0.85rem;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.Header-link-dropdown {
  background-color: transparent !important;
  padding: 0 !important;
}

.Header-link-dropdown:focus {
  outline: none !important;
}

@media screen and (max-width: 768px) {
  .Header .Header-navbar .Header-list .Header-item .Header-link {
    font-size: 0.85rem;
  }
}

.Header-item-inscription {
  padding: 10px;
  color: white;
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 160px;
  padding: 10px 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid transparent;
  background: 0 0;
  background-image: none;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 20px;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  letter-spacing: .1em;
  padding-left: 1.8rem !important;
}

.Header-item-inscription::before {
  content: "";
  transform: skewX(-14deg);
  transition: background-color .2s ease-in-out;
  position: absolute;
  left: 0;
  top: 20px;
  z-index: -1;
  width: 100%;
  height: 50%;
  content: "";
  background-color: #c21718;
}
