.space {
  min-height: 100px;
}

.text-message {
  display: inline;
  margin-left: 3px;
}

.text-message a {
  color:#c21718;
  transition: all 0.3s ease;
  font-weight: 600;
  opacity: 0.8;
}

.text-message a:hover {
  opacity: 1;
  text-decoration: none;
}