.Contact .Contact-banner {
  display: block;
  background-color: #c21718;
}

.Contact .Contact-banner p {
  margin: 0;
  margin-left: -15px;
  padding: 15px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
}

.Contact .Contact-info-article {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  padding-top: 50px;
  font-weight: 700;
  width: 100%;
}

.Contact .table {
  font-size: 1rem;
}

.Contact .Contact-title {
  padding: 15px;
  background-color: black;
  color: white;
  margin-bottom: 0;
  margin-right: -15px;
  margin-left: -15px;
  font-weight: 700;
  display: block;
  font-size: 2rem;
}

.Contact .Contact-info-title {
  margin-bottom: 40px;
  font-weight: 700;

}

.Contact .Contact-info-text {
  margin-bottom: 40px;
  font-size: 1rem;
  font-weight: 400;
}

.Contact-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.Contact-button {
  padding: 10px;
  color: white;
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 160px;
  padding: 10px 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid transparent;
  background: 0 0;
  background-image: none;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 20px;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  letter-spacing: .1em;
}

.Contact-button::before {
  content: "";
  transform: skewX(-14deg);
  transition: background-color .2s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #c21718;
}

.Contact-button:hover {
  color: white;
  text-decoration: none;
}

.Contact-button input {
  background: none;
  border: none;
  line-height: 20px;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  letter-spacing: .1em;
  color: white;
  border-bottom: none !important;
}

.Contact-form {
  padding-top: 50px;
}

.Contact-form .form-group textarea,
.Contact-form .form-group input {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
}

.Contact-form .form-group textarea:focus,
.Contact-form .form-group input:focus {
  border: none;
}

@media screen and (max-width: 768px) {
  .Contact .Contact-info-article {
    padding: 20px;
  }

  .Contact-button-wrapper {
    justify-content: center;
  }
}